@model IEnumerable<IGrouping<string, ApartmentSearch.Models.Apartment>>
@{
    ViewBag.Title = "Apartments";
}

<header>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</header>
<div id="body">
    <section>
        <div class="container">
            <div id="allApartments">
                <div class="form-horizontal">
                    <h3>Apartments</h3>
                </div>
                @if (Model != null)
                {
                    <small>
                        <div>
                            @foreach (var grouppedApartments in Model)
                            {
                                int counter = 0;
                                string suburbKey = grouppedApartments.Key;
                                <h6><b>@suburbKey,</b></h6>
                                foreach (var apartment in grouppedApartments)
                                {
                                    counter++;
                                
                                <h6>@apartment.City</h6>
                                <table class="table table-condensed table-hover">
                                    <tbody>
                                        <tr>
                                            <td class="col-sm-1"><b>@counter</b>
                                            </td>
                                        <td class="col-sm-2"><b>Address</b></td>
                                            <td class="col-sm-3">
                                                @apartment.Address
                                            </td>
                                            <td class="col-sm-6"></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td><b>Rooms</b></td>
                                            <td>
                                                @apartment.Rooms
                                            </td>
                                             <td class="col-sm-6"></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td><b>Bathrooms</b></td>
                                            <td>
                                                @apartment.Bathrooms
                                            </td>
                                             <td class="col-sm-6"></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td><b>Carports</b></td>
                                            <td>
                                                @apartment.Carports
                                            </td>
                                             <td class="col-sm-6"></td>
                                        </tr>
                                    </tbody>

                                </table>
                                }
                            }
                        </div>
                    </small>                                       
                }
            </div>
        </div>
    </section>
</div>
