@model IEnumerable<IGrouping<string, ApartmentSearch.Models.Apartment>>
@{
   
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "Apartments";
}

<header>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</header>
<div id="body">
    <section>
        <div class="container">
            <div id="allApartments">
                <div class="form-horizontal">
                    <h3>Apartments</h3>
                </div>
                @if (Model != null)
                { 
                    <div>
                        <div style="float:right">@Html.ActionLink("Search Apartments", "Search")</div>
                        <br />
                        @foreach (var grouppedApartments in Model)
                        {
                            int counter = 0;
                            string suburbKey = grouppedApartments.Key;
                            <h6><b>@suburbKey, @grouppedApartments.FirstOrDefault().City</b></h6>  
                            <table class="table table-condensed table-hover">
                                <thead>
                                    <tr>
                                        <th class="col-sm-1">#</th>
                                        <th class="col-sm-3">Address</th>
                                        <th class="col-sm-1">Rooms</th>
                                        <th class="col-sm-1">Bathrooms</th>
                                        <th class="col-sm-1">Carports</th>
                                        <th class="col-sm-5"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var apartment in grouppedApartments)
                                    {
                                        counter++;                            
                                        <tr>
                                            <td class="col-sm-1">@counter</td>
                                            <td class="col-sm-3">@apartment.Address</td>
                                            <td class="col-sm-1">@apartment.Rooms</td>
                                            <td class="col-sm-1">@apartment.Bathrooms</td>
                                            <td class="col-sm-1">@apartment.Carports</td>
                                            <td class="col-sm-5"></td>
                                        </tr>                                  
                                    }
                                </tbody>

                            </table>
                        }

                    </div>                                     
                }
            </div>
        </div>
    </section>
</div>
